django<2.0; python_version < '3.0'
django>=2.2; python_version >= '3.0'
pandas>=0.19.2
django-widget-tweaks>=1.4.1
git+ssh://labsdeploy/pewresearch/pewtils#egg=pewtils
git+ssh://labsdeploy/pewresearch/django_pewtils#egg=django_pewtils
