{% extends "django_verifications/_template.html" %}

{% load staticfiles %}
{% load i18n widget_tweaks %}

{% block extra_head %}{% endblock %}

{% block modals %}{% endblock %}

{% block body %}

    <h3>Correction: {{ model_name }} {{ pk }} {% if prev_id %}<a href="{% url 'django_verifications:correct' model_name prev_id %}">Go back</a>{% endif %}</h3>
    <form name='mturk_form' method='post' id='form' action="{% url 'django_verifications:correct' model_name %}">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ pk }}">
        <div class="row">

            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-body" style="overflow: scroll; height: 450px;">
                        {% for k, v in verification_metadata.iteritems %}
                            <p><b>{{ k }}:</b> {{ v }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="panel panel-default">
                    <table class="panel-body table table-condensed">
                        {% for field, is_good, note in field_forms %}
                            <tr class="{% if is_good %}success{% else %}danger{% endif %}"><td>
                                {% if field.errors %}
                                    <div class="form-group has-error">
                                        <label class="col-sm-2 control-label" for="id_{{ field.name }}">
                                            {{ field.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {% if is_good %}{{ field|attr:"class:form-control"|attr:"disabled" }}{% else %}{{ field|attr:"class:form-control" }}{% endif %}
                                            <span class="help-block">
                                                {% for error in field.errors %}{{ error }}{% endfor %}
                                            </span>
                                            {% if is_good %}
                                                <a href="{% url 'django_verifications:set_as_incorrect' model_name pk field.name %}" class="label-danger label">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="id_{{ field.name }}">
                                            {{ field.label }}
                                        </label>
                                        <div class="col-sm-10">
                                            {% if is_good %}{{ field|attr:"class:form-control"|attr:"disabled" }}{% else %}{{ field|attr:"class:form-control" }}{% endif %}
                                            {% if note %}
                                                <p class="help-block"><small>{{ note }}</small></p>
                                            {% endif %}
                                            {% if is_good %}
                                                <a href="{% url 'django_verifications:set_as_incorrect' model_name pk field.name %}" class="label-danger label">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </td></tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="panel panel-default">
                    <table class="panel-body table table-condensed">
                        <tr><td colspan="2"><button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#confirm_modal">Submit</button></td></tr>
                        <tr><td colspan="2"><a class="btn btn-danger btn-block" type="button" href="{% url 'django_verifications:correct' model_name %}">Skip</a></td></tr>
                    </table>
                </div>

            </div>
        </div>

        <div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm submission</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you're ready to submit?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Go back</button>
                <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>

    </form>

{% endblock %}

{% block extra_body %}{% endblock %}